IN THE CONGRESS OF THE UNITED STATES
SEPTEMBER 28, 2020
Sponsor: Rep. Amidala
introduced the following bill on behalf of the Halpert Administration and the Department of Education
as well as;
Cosponsors: Rep. Alec Lightwood, Rep. Kyouko, and Rep. Loulou
A BILL
To remove the federal requirements on the amount and uses of standardized testing.
Be it enacted by the House of Representatives of the United States of America in
Congress Assembled,
SECTION 1. SHORT TITLE.
This Act may be cited as the “American Standardized Testing Requirements Elimination Act”
SEC. 2. FINDINGS.
Congress finds that—
(a) The government has requirements on how much standardized testing must be done by states.
(b) Standardized testing has not been shown to be an effective method of measuring growth.
(c) Banning standardized testing is beyond the scope of the federal government.
(d) The federal government has the ability to remove its own requirements on standardized testing.
SEC. 3. DEFINITIONS.
In this Act—
(a) STANDARDIZED TEST.— The term “standardized test” means any test administered by the
state to all schools in the state.
(b) ESSA.--- The term “ESSA” means the Every Student Succeeds Act

(c) DEPARTMENT.— The term “Department” means the Department of Education.
(d) SECRETARY.— The term “Secretary” means the Secretary of the Department.
SEC. 4. ESSA AMENDMENT.
(a) IN GENERAL.— The ESSA section regarding standardized testing requirements shall be
struck
(b) SUBHEADING.— The ESSA Act is amended by—
(1) striking Title I Part B in its entirety
SEC. 5. NEW USES FOR FUNDING.
(a) IN GENERAL.— The Secretary shall establish a program that looks into possible uses for the
funding previously used for the now struck section.
(b) REQUIREMENTS.— In carrying out the program under subsection (a) the Secretary shall—
(1) work with the State Secretaries of Education to find a good use for the funding used for
the now struck section; and
(2) present the findings of their discussions and meetings to Congress when they have
reached a consensus on the best uses for that funding.
(c) FUNDING.— The Secretary shall be appropriated $0 for the fiscal year of 2020 to carry out
the provisions of this section.
SEC. 6. ENACTMENT.
EFFECTIVE DATE.— The provisions of this Act shall come into force at the beginning of the
2021-2022 school year.